.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 110px;
  height: 200vh;
}

.logo {
  height: 80px; /* Set the height to match the top bar's padding */
  margin-left: 60px;
  pointer-events: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Add this line to fix the navbar at the top */
  top: 0; /* Add this to make sure it sticks at the top */
  width: 100%; /* Add this to make it stretch to the full width of the screen */
  z-index: 1; /* Add this to control the stacking order, if needed */
  transition: background-color 0.3s ease;
}

.nav-item.active {
  background-color: #61dafb; /* Change to your desired color */
}

.nav-item:not(.active) {
  background-color: #333; /* Change to your desired color */
}

.title {
  color: #fff;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.main-content {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  max-width: 60vw;
  margin: 0 auto;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.text-content {
  text-align: left;
  margin: 20px;
}

.phases p {
  margin: 5px 0;
  font-size: 1.2em;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-height: 60vh;
  max-width: 25vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.5em;
}

.box-image {
  width: 100%; /* Set the width to 100% of its container */
  max-height: 100%; /* Set the maximum height to 100% of its container */
  object-fit: cover; /* Preserve the aspect ratio and cover the container */
}

ul {
  list-style: disc;
  margin-left: 20px;
}

li, h1, h2 {
  font-family: 'Montserrat', sans-serif; /* Replace 'Your Chosen Font' with the actual font name */
  /* Other styles like font size, color, etc. */
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.image-row section {
  list-style: none;
  flex: 0 0 33.333333%;
}

.map-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add spacing between maps */
}

.map-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
  gap: 10px; /* Adjust the gap between items as needed */

  /* Additional styling for the grid items */
  align-items: center;
  justify-items: center;
  text-align: center;
}

.map-images img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.map-image {
  max-width: 35vw;    
  max-height: 35vh;   
}

.map-name {
  font-size: 25px;
  color: orange;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}

.location-section {
  flex: 0 0 calc(33.33% - 10px);
  margin: 10px 0;
  text-align: center;
  max-width: calc(33.33% - 10px);
  box-sizing: border-box;
}

.location-section h2 {
  margin-top: 10px;
}

.location-section img {
  max-width: 100%;
  height: auto;
}



